@{
    ViewData["Title"] = "About";
    string name = "Angela";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div>
    <div>@ViewBag.MyData</div>
    <div>@name</div>
</div>
