@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dongshan Road 6<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@hotmail.com">Support@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotmail.com">Marketing@hotmail.com</a>
</address>
